<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'java_style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <title>Java Projects | Jesse Battalino</title>
  </head>
  <body style='background-color:SIENNA'>
    
    <div id='jumbo-canvas' class='jumbotron text-center' style='margin: 0px 15px 10px 15px; width: 100%; height: 100%;'>
      <h1>Java Projects</h1>
      <hr color='ORANGERED'>
      
      <!-- Two Sorts -->
      <h6>Two Sorts</h6>
      <p>
        Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info Two Sorts info 
      </p>
      <div class='row'>
        <!-- Two Sorts Pics -->
        <div class='container col-sm-3'>
          <%= image_tag('TwoSorts1.png', width: '100%', height: '90%') %>
        </div>
        <div class='container col-sm-3'>
          <%= image_tag('TwoSorts2.png', width: '100%', height: '90%') %>
        </div>
        <div class='container col-sm-3'>
          <%= image_tag('TwoSorts3.png', width: '100%', height: '90%') %>
        </div>
        <div class='container col-sm-3'>
          <%= image_tag('TwoSorts4.png', width: '100%', height: '90%') %>
        </div>
        <!-- Two Sorts code -->
        <div class='col-sm-12'>
          <textarea id="TwoSorts" class='TwoSorts' style='width:50em; height:35em;' readonly></textarea>
          <br />
          <script> 
          $( "#TwoSorts" ).load( '/assets/TwoSorts-727b269bf7d42edf2336cdb748a8ee3dbbc3c176bd44d9326e2b5a9aa0d2db5d.java' ); 
          </script>
        </div>
        <div class='col-sm-12'>
          <textarea id="TwoSortsPanel" class='TwoSortsPanel' style='width:95em; height:35em;' readonly></textarea>
          <br />
          <script> 
          $( "#TwoSortsPanel" ).load( '/assets/TwoSortsPanel-4cc5637453f0e64bc4220ebee3556d9c3f86a3ead947ad4e6c96e2b337c5acbb.java' ); 
          </script>
        </div>
      </div>
      <hr color='ORANGERED'>
      
      <!-- SpaceShip -->
      <h6>SpaceShip</h6>
      <p>
        SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info SpaceShip info 
      </p>
      <div class='row'>
        <!-- SpaceShip Gif -->
        <div class='container col-sm-12'>
          <%= image_tag('SpaceShip.gif', width: '50%', height: '100%') %>
        </div>
        
        <!-- SpaceShip code -->
        <div class='col-sm-12' style='margin-top:1em'>
          <textarea id='SpaceShip' class='SpaceShip' style='width:50em; height:35em;' readonly></textarea>
          <br />
          <script> 
          $( "#SpaceShip" ).load( '/assets/SpaceShip-e63d21e611045bc4b9f72d67e5fb6da69ed5119f19ec070f6707ac0b9babb944.java' ); 
          </script>
        </div>
        <!-- SpaceShipPanel code -->
        <div class='col-sm-12'>
          <textarea id="SpaceShipPanel" class='SpaceShipPanel' style='width:90em; height:35em;' readonly></textarea>
          <br />
          <script> 
          $( "#SpaceShipPanel" ).load( '/assets/SpaceShipPanel-82d2943711ab503c76fbf2ee6827542c003aabad583bb9aba9bdafb537b69b7d.java' ); 
          </script>
        </div>
        <!-- Building code -->
        <div class='col-sm-12'>
          <textarea id="Building" class='Building' style='width:60em; height:35em;' readonly></textarea>
          <br />
          <script> 
          $( "#Building" ).load( '/assets/Building-e7f180d7d2cc080213f0edd9b34fe17f764b4943dac0ac8602b61ef7269c52cf.java' ); 
          </script>
        </div>
      </div>
      <hr color='ORANGERED'>
      
      <!-- Soundex Converter -->
      <h6>Soundex Converter</h6>
      <p>
        Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info Soundex info 
      </p>
      <div class='row'>
        <!-- Soundex code -->
        <div class='col-sm-12'>
          <textarea id="SoundexJava" class='SoundexJava' style='width:20em; height:14em;' readonly></textarea>
          <br />
          <script> 
          $( "#SoundexJava" ).load( '/assets/soundex-55d0dd67412671b1b0981f0fc6aee929fdfd07a1f5be402039ba9e9b89692925.java' ); 
          </script>
        </div>
        <div class='col-sm-12'>
          <textarea id="SoundexConverterJava" class='SoundexConverterJava' style='width:75em; height:35em;' readonly></textarea>
          <br />
          <script> 
          $( "#SoundexConverterJava" ).load( '/assets/SoundexConverter-838e24b7213e65de83fbdf9f78058cc066f8a0561928658c90f673c357d24b61.java' ); 
          </script>
        </div>
      </div>
      <hr color='ORANGERED'>
      
    </div>
  </body>
</html>