<!DOCTYPE html>
<html>
  <head>
      
    <meta charset="UTF-8">
    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.min.js"></script>
    
    <%= javascript_include_tag "nn.js" %>
    <%= javascript_include_tag "matrix.js" %>
    
    <%= javascript_include_tag "sketch_pong.js" %>
    <%= javascript_include_tag "paddle.js" %>
    <%= javascript_include_tag "ball.js" %>
    <%= javascript_include_tag "ga_pong.js" %>
    
    <title>Genetic Algorithm Project: Pong! | Jesse Battalino</title>
    
  </head>
  
  <body style='background-color:THISTLE'>
    
    <div id='jumbo-canvas' class='jumbotron text-center' style='margin: 0px 15px 10px 15px;'>
      
    <h1 style='color:DARKSLATEGRAY'>Reinforcement Learning in Pong! Using A Genetic Algorithm</h1>
    <hr />
     
      <p class='lead' style='color:SIENNA'>
        <strong>Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! </strong>
      </p>
      <hr />
      
      <button type='button' onclick='location.reload()'>Refresh</button>
      
    </div>
    
  </body>
  
</html>