<!DOCTYPE html>
<html>
  
  <head> 
  
    <!-- Js files needed to run codeskulptor code. From: http://saibotshamtul-socas.blogspot.com/2013/12/how-to-run-codeskulptor-python-programs.html -->
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" %>
    <%= javascript_include_tag "skulpt.min" %>
    <%= javascript_include_tag "https://py3.codeskulptor.org/vendor.js" %>
    <%= javascript_include_tag "codeskulptor-compressed" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps-api-v3/api/js/34/15/common.js" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps-api-v3/api/js/34/15/util.js" %>
    
    <%= stylesheet_link_tag    'python_style', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <title>Python Projects | Jesse Battalino</title>
    
  </head>
  
  <body style='background-color:THISTLE; display:flex; justify-content:left'>
    <!-- Loading text files into html. From: https://stackoverflow.com/questions/19020484/loading-txt-file-into-textarea-javascript -->
    
    <div id='jumbo-canvas' class='jumbotron text-center' style='margin: 0px 15px 10px 15px;'>
    
      <h1>Python Projects and Source Code</h1>
      
      <!-- Frogger Row -->
      <p>Frogger</p>
      
        <div class='row'>
          
          <div class='container col-md-12' style='margin: 5px 0px 10px 0px;'>
            
            <!-- Description for Frogger code -->
            <text>Frogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger StuffFrogger Stuff</text>
          
          </div>
          
          <div class='container col-md-12'>
            
            <textarea id="frogger" class='frogger' readonly></textarea><br />
            
            <script> $( "#frogger" ).load( '/assets/frogger-6bb270ac84d800e788d1a7c3eb0bb54546f04ee9939fcdc759c0061f0110eade.py' ); </script>
            
            <button type='button' onclick="runit('frogger')">Run</button>
            
          </div>
          
        </div>
      
      <hr color='darkblue'>
      
      <!-- Flappy Row -->
      <p>Flappy Bird</p>
        
      <div class='row'>
        
        <div class='container col-md-12' style='margin: 5px 0px 10px 0px;'>
          
          <!-- Description of Flappy Code -->
          <text>Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy Flappy </text>
          
        </div>
        
        <div class='container col-md-12'>
          
          <textarea id="flappybird" class='flappybird' readonly></textarea><br />
          
          <script> $( "#flappybird" ).load( '/assets/flappybird-94e16d81a0ff7700b821b2e86a0528975d302b40cefc1aa98bb57124b31491cb.py' ); </script>
          
          <button type='button' onclick="runit('flappybird')">Run</button>
          
        </div>
        
      </div>
        
      <hr color='darkblue'>
      
      <!-- Maze Row -->
      <p>Maze Generator and Solver</p>
      
      <div class='row'>
          
        <div class='container col-md-12' style='margin: 5px 0px 10px 0px;'>
          
          <!-- Maze Description -->
          <text>Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze Maze </text>
          
        </div>
        
        <div class='container col-md-12'>
          
          <textarea id="maze" class='maze' readonly></textarea><br />
          
          <script> $( "#maze" ).load( '/assets/maze-90f0bdff79fb9ef651d420b1e90bc806bea02a88482029c51365fa612c3676d1.py' ); </script>
          
          <button type='button' onclick="runit('maze')">Run</button>
          
        </div>
        
      </div>
      
      <hr color='darkblue'>
      
      <!-- Pong! Row -->
      <p>Pong!</p>
      
      <div class='row'>
        
        <div class='col-md-12' style='margin: 5px 0px 10px 0px;'>
          
          <!-- Pong! Description -->
          <text>Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! Pong! </text>
          
        </div>
        
        <div class='col-md-12'>
          
          <textarea id="pong" class='pong' readonly></textarea><br />
          
          <script> $( "#pong" ).load( '/assets/pong-b8597ac27b87d667d6c14818eb98d67b9b8346218ef56437e8176a459148eb0f.py' ); </script>
          
          <button type='button' onclick="runit('pong')">Run</button>
          
        </div>
        
      </div>
      
      <hr color='darkblue'>
      
      <!-- Blackjack Row -->
      <p>Blackjack</p>
      
      <div class='row'>
        
        <div class='container col-md-12' style='margin: 5px 0px 10px 0px;'>
          
          <!-- Blackjack Description -->
          <text>Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack Blackjack </text>
          
        </div>
        
        <div class='container col-md-12'>
      
          <textarea id="blackjack" class='blackjack' readonly></textarea><br />
          
          <script> $( "#blackjack" ).load( '/assets/blackjack-41e612f098b2ce539fa574be81214e4d4116dabd501402e6e3293a20c89769e2.py' ); </script>
          
          <button type='button' onclick="runit('blackjack')">Run</button>
        
        </div>
        
      </div>
      
      <hr color='darkblue'>
      
      <!-- RPSLS Row -->
      <p>Rock, Paper, Scissors, Lizard, Spock using a Graph</p>
      
      <div class='row'>
        
        <div class='col-md-12' style='margin: 5px 0px 10px 0px;'>
          
          <!-- RPSLS Description -->
          <text>RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS RPSLS </text>
          
        </div>
      
        <div class='col-md-12'>
      
          <textarea id="rpsls" class='rpsls' readonly></textarea><br />
          
          <script> $( "#rpsls" ).load( '/assets/rpsls-58c63e3031b66b5b8ee0a854ec635a472b02f7f4276683575c10cd44f536c720.py' ); </script>
          
          <button type='button' onclick="runit('rpsls')">Run</button>
          
        </div>
        
      </div>
      
      <hr color='darkblue'>
      
      <!-- LCS Row -->
      <p>LCS w/ Dynamic Programming</p>
      
      <div class='row'>
        
        <div class='col-md-12' style='margin: 5px 0px 10px 0px;'>
          
          <!-- LCS Description -->
          <text>LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog LCS Dynamic Prog </text>
          
        </div>
        
        <div class='col-md-12'>
        
          <textarea id="lcs" class='lcs' readonly></textarea><br />
          
          <script> $( "#lcs" ).load( '/assets/lcs-7b71b4fd1c6d01ef5265fea3eb336ee17879c67df915eb34226e565a8b76723c.py' ); </script>
          
          <button type='button' onclick="runit('lcs')">Run</button>
        
        </div>
        
      </div>
      
      <hr color='darkblue'>
      
      <pre id="output"></pre> 
      <div id="canvas"></div>
    
    </div>
    
    <script>
    
      // output functions are configurable.  This one just appends some text
      // to a pre element.
      function outf(text) { 
          var mypre = document.getElementById("output"); 
          mypre.innerHTML = mypre.innerHTML + text; 
      }
      
      function builtinRead(x) {
          if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
                  throw "File not found: '" + x + "'";
          return Sk.builtinFiles["files"][x];
      }
      
      // Here's everything you need to run a python program in skulpt
      // grab the code from your textarea
      // get a reference to your pre element for output
      // configure the output function
      // call Sk.importMainWithBody()
      function runit(elementID) { 
         var prog = document.getElementById(elementID).value; 
         var mypre = document.getElementById("output"); 
         mypre.innerHTML = ''; 
         Sk.pre = "output";
         Sk.configure({output:outf, read:builtinRead}); 
         //(Sk.TurtleGraphics || (Sk.TurtleGraphics = {})).target = 'canvas';
         eval(Sk.importMainWithBody("<stdin>", false, prog));
      //   var myPromise = Sk.misceval.asyncToPromise(function() {
      //       return Sk.importMainWithBody("<stdin>", false, prog, true);
      //   });
      //   myPromise.then(function(mod) {
      //       console.log('success');
      //   },
      //       function(err) {
      //       console.log(err.toString());
      //   });
      }
      
    </script>
    
  </body>
  
</html>